@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Rowdies:wght@400;700&display=swap,;700&family=Righteous:wght@400;700&display=swap&family=Roboto:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-link {
  @apply text-custom-lightBlue hover:text-custom-lightGreen text-lg font-semibold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
